
/****************************************
                GENERAL
****************************************/

 html {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

a { 
  color: inherit;
  text-decoration: none;
  outline: 0; /*Retirer les trais lorsqu'on clique sur un lien et qu'on revient dessus (Firefox)*/
}

.container{
  width: 1170px;
  margin: 0 auto;
  overflow:hidden;
}


/*************************
        HEADER
*************************/

.header_principal{
  height: 985px;
  width: 100%;
  background: #00faff;
  background: linear-gradient(to right, #00faff 0%,#0041ff 100%);
}

.header_secondaire{
  height: 150px;
}

/***********************
    MENU HAMBURGER
***********************/
.nav{
  position:absolute;
  top: 60px;
  right: 100px;
}

.menu{
  display: inline-block;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu span{
  display:block;
  height: 2px;
  background: white;
  float: right;
}

.menu .line1{
  position: absolute;
  left: 15%;
  top: 24px;
  width: 40%
}

.menu .line2{
  position: absolute;
  left: 15%;
  top: 16px;
  width: 55%;
}

.menu:hover {
  background-color: white;
  border: 1px solid blue;
  transition-delay: 0.1s;
  cursor: pointer;
}
.menu:hover .line1{
  width: 20%;
  background: blue;
  transition-delay: 0.1s;

}

.menu:hover .line2{
  width: 60%;
  background: blue;
  transition-delay: 0.1s;
}
/**FIN MENU HAMBURGER**/

.search{
  transform: translateY(-60%);
  display: inline-block;
  position: relative;
  color : white;
  padding-left: 28px;
}

.search:hover{
  cursor: pointer;
}

.main_secondaire{
  clear:both;
  height: 685px;
}

.image_header {
  float: left;
  margin-left: 250px;
}

.banner_text{
  float: right;
  color: white;
  transform: translateY(70%);
}

.banner_text h1{
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}

.banner_text p {font-family: "Open Sans", sans-serif;}

.contenu_header button{
  height: 50px;
  width: 150px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.contenu_header button:hover{
  cursor: pointer;
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

.footer_secondaire{
  position: absolute;
  height: 50px;
  bottom: 50px;
  left:50px;
  clear:both;
}

.reseaux{
  width: 100%;
  clear: both;
  color: white;
}

.reseaux a{
  left: 60px;
  bottom: 30px;
  margin-right: 25px;
  font-size: 20px;
}

.reseaux a:first-child:hover{color: red;}

.reseaux a:nth-child(2):hover{color: red;}

.reseaux a:nth-child(3):hover{color:#00aafe;}

.reseaux a:last-child:hover{color: #3b5998;}

/****************************************
                  MAIN
****************************************/

/*SECTION 1*/
.specs{
  height: 770px;
  width: 100%;
  background-color: #eef2f5;
}

.features {
  float: left;
  width: 70%;
  margin-top: 150px;
}

.features article{
  width: 405px;
  height: 250px;
  float:left;
  transform: translateY(10%);
  display:inline-block;

}

.features article h2{
  font-weight: normal;
  font-size: 19px;
}

.features article p{
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  padding-right: 65px;
  font-size: 14px;
}


.specs .container img{
  padding-top: 100px;
  float: right;
}

/**2ème SECTION**/

.screenshots{
  background-color: white;
  width: 100%;
  height: 915px;
  padding-top: 150px;
  text-align:center;
}

.screenshots-txt{
  text-align:center;
}

.screenshots-txt h2{
  color: #458fe1;
  font-weight: normal;
  font-size: 40px;
}

.screenshots-txt p{
  color:#656d80;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #656d80;
  margin-bottom: 60px;
}

.screensshots_img  figure{
  height:395px;
  width:215px;
  background-color: grey;
  display: inline-block;
  margin: 0;
  background-size:contain;
}

.screensshots_img figure+figure{
  margin-left: 40px;
}

.screensshots_img figure img{
  width: 215px;
  height: 400px;
}

.points{
  text-align:center;
  overflow:hidden;
  margin-top: 50px;
}

.points ul{
  padding:0;
  margin:0;
}

.points li{
  overflow:hidden;
  display: inline-block;
  border-radius: 50%;
  margin:0 auto;
}

.points li:nth-child(1){
  width: 10px;
  height: 10px;
  background-color:#3390fd;
}
.points li:nth-child(2){
  width: 6px;
  height: 6px;
  background-color: #4599fc;
  transform: translateY(-2px);
}

.points li:nth-child(3){
  width: 6px;
  height: 6px;
  background-color:#71b2ff;
  transform: translateY(-2px);
}

.points li{
  cursor: pointer;
}

/**3ème SECTION**/
.how-it-works{
  height: 720px;
  width: 100%;
}

.how-it-works .container{
  background-image :url("../img/src.png");
  height: 719px;
}

.how-it-works strong{
  font-weight:normal;
}
.how-it-works h3{
  color: #458fe1;
  font-size: 40px;
}

.how-it-works {
  background-color: #eef2f5;
  color: #40485a;
}

.play-the-video{margin-top: 60px;}

.play-the-video p{
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  border-bottom: 1px solid #5c667d;
  color: #5c667d;
  transform: translateY(-50%);
  padding-bottom: 10px;
}

.hiw-texte{
  padding-top: 200px;
  overflow: hidden;
}

.play-the-video a{text-decoration:none;}

.fa-play-circle{
  font-size: 40px;
  color: #3390fd;
  margin-right: 30px;
}

/**4ème SECTION**/

.now-available{
  height: 391px;
  width: 100%;
  background: linear-gradient(to left, #00faff 0%,#0041ff 100%);
  overflow:hidden;
}

.content-now-available {
  color: white;
  text-align:center;
  margin-top: 60px;
}

.content-now-available h3{font-size: 40px;}

.content-now-available p{font-size: 14px;}

.content-now-available img{
  margin-top: 60px;
  width:150px;
  height: 50px;
}


.content-now-available img:nth-child(2){
  margin-left: 60px;
}

/**5ème SECTION**/
.client-says{
  height: 735px;
  width: 100%;
  text-align: center;
  padding-top: 150px;
}


.client-says h3{
  color: #458fe1;
  font-size: 40px;
  font-weight: normal;
}

.client-says h4{
  color: #458fe1;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0;
}
.client-says p{
  color: #656d80;
}

.img_photo{
  background-image: url("https://cdn.vox-cdn.com/thumbor/NQzJGsyTln4h782a6p3pVT98Zv0=/0x0:1280x721/1200x800/filters:focal(538x259:742x463)/cdn.vox-cdn.com/uploads/chorus_image/image/53828867/naruto.0.jpg");
  height: 86px;
  width: 86px;
  border-radius: 43px;
  background-size:cover;
  margin-top: 60px;
  /*Pour centrer*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p .titre_personne{
  margin-top: 10px;
}

.statut-client{
  margin-top:10px;
}

.desc-client{
  margin: 0;
  margin-bottom: 60px;
}

/**6ème SECTION**/
.stats{
  height:335px;
  width: 100%;
  background: linear-gradient(to right, #00faff 0%,#0041ff 100%);
  color: white;
  padding-top: 160px;
}

.stats .fas{font-size: 40px;}

/*changer uniquement la taille de l'heure*/
.stats .far{font-size: 40px;}

.numbers{font-size:30px;}

.dev_hours{text-align:center;}

.downloads{text-align:center;}

.people_connected{text-align:center;}

.stats .container div{
  display: inline-block;
  float: left;
  position: relative;
  width: 370px;
  text-align:center;
}

/*Barres*/
.stats .container div+div::after{
  content:'';
  position: absolute;
  left:0px;
  top:0px;
  height: 200px;
  width : 1px;
  background: white;
  transform: rotate(10deg);
}

.descr_stats{
  font-size: 19px;
  text-transform: uppercase;
}

/**7ème SECTION**/
.pricing{
  height: 975px;
  width:100%;
  background: white;
}

.pricing h3{
  text-align:center;
  font-size: 39px;
  color: #458fe1;
  margin-top:150px;
}

.all_article{
  text-align:center;
  padding-bottom: 42px;
}

.pricing article{
  width: 350px;
  height: 565px;
  border: 1px solid #d7dbe8;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

.pricing article:hover{
  border: 1px solid transparent;
  box-shadow: 2px 23px 42px -5px rgba(0,0,255,0.29);
}

.pricing article+article{
  margin-left: 20px;
}

.pricing .price_descr{
  text-align:center;
  font-size: 13px;
  color: #8f98ad;
  line-height: 30px;
  margin-bottom: 65px;
}

.pricing img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom:0;
}

.pricing article h3{
  font-size: 14px;
  color: #9fa4af;
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 40px;
}

.dollar{
  font-size: 16px;
  color: #4f4f6f;
}

.price{
  font-size: 40px;
  color: #4f4f6f;
}

.by_month{
  font-size: 11px;
  color: #4f4f6f;
}

.price_by_month{
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align:center;
  color: #4f4f6f;
}

.pricing ul{
  margin-top: 50px;
  padding-left:0;
}

.fa-check{color:#3390fd;}

.pricing li{
  text-align:center;
  list-style-type: none;
  line-height: 40px;
}

.btn{
  width: 176px;
  height: 46px;
  background: linear-gradient(to right, #3aaefd 0%,#2ccdfb 100%);
  border-radius: 88px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.btn p{
  padding-top:15px;
  color:white;
  font-size: 12px;
  text-transform: uppercase;
}

.btn a{ text-decoration:none;}

.article1 .btn{background: linear-gradient(to right, #3aaefd 0%,#2ccdfb 100%);}

.article2 .btn{background: linear-gradient(to top, #3aaefd 0%,#2ccdfb 100%);}

.article3 .btn{background: linear-gradient(to left, #3aaefd 0%,#2ccdfb 100%);}

/*8ème SECTION*/
.blog h3{
  font-size: 40px;
  color: #458fe1;
  text-align: center;
  margin-bottom: 65px;
}

.blogIntro{
  text-align: center;
  margin-bottom: 65px;
  color: #8f98ad;
}

.allBlog{
 text-align: center;
}

.blogArticle{
  width: 370px;
  height: 385px;
  display: inline-block;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  border: 1px solid transparent;
}

.blogArticle:hover{
  border: 1px solid blue;
}

.blog article+article{
  margin-left: 20px;
}

.blogArticle img{
  width: 370px;
  height: 220px;
}

.dateAuteur span{
  font-family: "OpenSans", sans-serif;
  font-style: italic;
  font-size: 14px;
}

.dateAuteur{
  color:#6a6c6d;
}

.blogArticle .h4{
  font-size: 18px;
  color: #494753;
}

.blogArticle .blogTexte {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  color: #6a6c6d;
}

.btnGoToBlog{
    width: 176px;
    height: 46px;
    background: linear-gradient(to right, #3aaefd 0%,#2ccdfb 100%);
    border-radius: 88px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.btnGoToBlog p{
  padding-top:15px;
  color:white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.btnGoToBlog a {text-decoration: none;}

/*9ème section*/
.commnunity{
  height: 180px;
  background: linear-gradient(to left, #5075ef 0%,#5aa8e8 100%);
}

.community_text{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  float: left;
  margin-top: 80px;
  margin-left: 75px;
  color: white;
}

.community_text span{
  font-size: 25px;
}

.btnCommunity {
  height: 44px;
  width: 195px;
  border: 1px solid white;
  border-radius: 22px;
  float: right;
  margin-top: 68px;
  margin-right: 75px;
  text-align: center;
  color: white;
}

.btnCommunity p{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.btnCommunity a {
  text-decoration: none;
}


/****************************************
                FOOTER
****************************************/

.basDePage {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  background-color: #21242a;
}

.basDePage a{text-decoration: none;}

.basDePage h3{
  font-family: "Montserrat", sans-serif;
  color: white;
}

.basDePage ul{color: #8f9092;}

.allBasDePage{
  text-align: center;
}

.quicklinks{
  float: left;
  width:150px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 35px;
}

.navigation{
  width:150px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 35px;
}

.subscribeToday{
  float: right;
  width:570px;
  height: 220px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.subscribeToday p{
  margin-top: 35px;
  color: #8f9092;
}

.copyright {
  height: 80px;
  background-color: #1c1f24;
  color: #888889;
  text-align: center;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
}

.copyright p{
  position: relative;
  margin: 0;
  top: 30px;
}

.copyright span{
  color: #4f9ee0;
}

.basDePage li {
  list-style-type: none;
}

.basDePage ul{
  padding: 0;
}

/***********************
    BARRE DE RECHECHE
***********************/
.barreDeRecherche{
	font-family: "Open Sans",Arial, sans-serif;
	font-size: 14px;
	position: relative;
	width: 550px;
	height: 60px;
	border: 1px solid #3c3f44;
	border-radius: 30px;
  margin-top: 50px;
}

/*Bouton cliquable*/
.bouton{
	position: absolute;
	width: 180px;
	height: 50px;
	top: 4px;
	right: 3px;
	border: 1px solid transparent;
	border-radius: 25px;
	background-color: white;
	text-align: center;
	font-size: 12px;
	background-image: linear-gradient(to right, #4fa0df, #4570dd);
}

/*Sous forme de input*/
.champMail{
	position: absolute;
	top: 15px;
	left: 25px;
	width: 350px;
	height: 24px;
	border: 1px solid transparent;
	border-radius: 12px;
	font-size: 14px;
	background-color: transparent;
	color:#3c3f44;
}

.bouton a {
	position: relative;
	top: 15px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.bouton a:hover {color: yellow;}

/*FIN BARRE DE RECHERCHE*/



/******************************************************************
                          PAGE FAQ
******************************************************************/
/*********************
        HEADER
*********************/
.header_faq{
  position: relative;
  height: 380px;
  width: 100%;
  background: #00faff;
  background: linear-gradient(to right, #00faff 0%,#0041ff 100%);
}

.mainFAQ{
  clear:both;
  height: 100px;
  color: white;
  text-align: center;
}

.mainFAQ p {
  font-family: "Montserrat Light", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  margin: 0;
  line-height: 40px;
}

.mainFAQ span {
  font-size: 18px;
}

/*********************
        MAIN
*********************/

.faq {
  margin-top: 150px;
}


.barreNavFAQ ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.barreNavFAQ li{
  display: inline;
  margin-right: 20px;
}

.searchBarFAQ {
  position:relative;
  border-bottom:1px solid #ebebeb;
  height: 30px;
  width: 270px;
  margin-bottom: 50px;
}

.searchBarFAQ input{
  float:left;
  width: 230px;
  border: 0px solid transparent;
  font-family: Montserrat, sans-serif;
  color: #2a2b2f;
}

.colQuestions{
  position: relative;
  float: left;
  width: 780px;
}

.colNavigation{
  position: relative;
  width:300px;
  float: right;
}

.barreNavFAQ a{
  text-decoration: none;
}
.barreNavFAQ {
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  color: #9c9b9b;
  margin-bottom: 60px;
}

.barreNavFAQ li:first-child{
  border: 1px solid #dfdfdf;
  color: #535353;
  background-color: #dfdfdf;
  padding: 10px;
}

.barreNavFAQ li{
  margin-right: 30px;
}

.questions {
  font-family: "Open Sans",sans-serif;
  font-size:14px;
  color: #444444;
}

.questions p{
  padding: 10px 0 10px 0;
}

.questions hr {
  border: 1px solid #dadada;
}

.colNavigation h2{
  color: #011d27;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  margin: 35px 0 35px 0;
}

.categories p{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #011d27;
}

.recentPosts p{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #011d27;
}

.recentPosts span{
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  color: #bcbcbc;
}

.colNavigation hr {
  border: 1px solid #dadada;
}

.tags button {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  margin-left:5px ;
  margin-bottom: 5px;
}

.tags button:hover {
  background-color: #87CEFA;
  border: 1px solid transparent;
}

.raccourcis {
  clear:both;
  width: 730px;
  padding-top: 100px;
}

.raccourcis ul{
  padding-left: 0;
}

.raccourcis ul li{
  list-style-type: none;
  line-height: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #868686;
}

.raccourcis ul li a {
  text-decoration: none;
} 

.raccourcis ul li:hover a {
  text-decoration: underline;
} 

.raccourcis h3{
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: #4d4d4d;
}

.helpfulLinks{
  width: 195px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.contactSupport{
  width: 195px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.gettingStarted{
  width: 195px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.boutonDeCommunication{
  margin-top: 100px;
  margin-bottom: 100px;
}

.boutonDeCommunication button{
  width: 200px;
  height: 55px;
  text-transform: uppercase;
  background-color: transparent;
  color:#4d4d4d;
  
}
.OurSupportForum{
  border: 1px solid #b5b5b5;
}

.SendUsAMessage{
  border: 1px solid transparent;
}

/***************************************************************
                              PAGE BLOG
***************************************************************/


.articleBlog{
  width: 360px;
  height: 375px;
  /*border: 1px solid black;*/
  margin-bottom: 70px;
}

.articleBlog:nth-child(2n+1){ /*Cible les articles impairs*/
  float: right;
}


.articleBlog img{
  width: 360px;
  height: 200px;
}

.dateArticleBlog{
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color:#47505c;
}

.dateArticleBlog span{ font-style: italic;}

.articleBlog h3{
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color:#252a30;  
}

.articleArticle p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color:#292a33;  
}

.articleBlog a{
  font-size: 12px;
  color:#84b0f8;
  text-transform: uppercase;
}

.pagination{
  clear: both;
  height: 70px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.pagination {
  font-family: Lato,sans,sans-serif;
  font-size: 14px;
  color:#232323;
  text-align: center;
  margin-bottom: 150px;
}

.pagination ul{
  margin-top: 20px;
}

.pagination ul li{
  display:inline-block;
  text-decoration: none;
} 

.pagination ul a:hover{
  color: #008aff;
  border-bottom: 1px solid #008aff;
}
.pagination ul a{
  margin-right: 10px;
} 

.pagination ul a:first-child{
  margin-right: 30px;
}

.pagination ul a:first-child:hover{
  border:none;
}

.pagination ul a:nth-child(2){
  color: #008aff;
  border-bottom: 1px solid #008aff;
}

.pagination ul a:last-child{
  margin-left: 30px;
} 

.pagination ul a:last-child:hover{
  border:none;
}

.singleBlog img:nth-of-type(0){
  width: 700px;
  height: 300px;
}

.singleBlog h2{
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  color: #011d27;
}

.singleBlog .legende{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #bcbcbc;
}

.singleBlog .legende span{
  font-style: italic;
}

.blogTexte{
  color:#788a9e;
  margin-top: 30px;
  font-size: 14px;
}

.socialMedias .fab{
  font-size: 14px;
  color:#5e6d77;
  margin-left:20px;
}

.socialMedias fab fa-facebook-f:hover{
  color: yellow;
}

.socialMedias span{
  font-family:Montserrat,sans-serif;
  font-size: 14px;
  color:#011d27;
  text-transform: uppercase;
}

.socialMedias {
  margin-top: 30px;
}

.commentsList h2{
  text-transform: uppercase;
  font-size: 16px;
  color: #011d27;
  margin-top: 50px;
  
}

.comment {
  margin-top: 40px;
  position: relative;
  clear:both;
  padding-bottom: 150px;
}

.comment:first-child{
  border-bottom: 1px solid #dfe5e9;
}

.comment img{
  width: 68px;
  height: 68px;
  position: absolute;
}

.comment .com{
  position: absolute;
  top: 0;
  left: 100px;
}

.com h3{
  text-transform: uppercase;
  font-size: 14px;
  color: #011d27;
  margin:0;
}

.com ul{
  font-size: 14px;
  color: #5e6d77;
  padding:0;
  margin-bottom: 0;
}

.com ul li{
  list-style-type: none; 
  display:inline-block;
  margin-right: 35px;
}

.com p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #788a9e;
}

.com .fas {
  margin-right: 10px;
}

.contactForm h2{
  text-transform: uppercase;
  font-size: 16px;
  color: #011d27;
}

.contactForm {
  text-transform: uppercase;
  font-size: 16px;
  color: #011d27;
}

.contactForm ::placeholder{
  font-family: Lato, sans-serif;
  font-style: italic;
  font-size: 12px;
  color: #989898;
}

.contactFormChamp{
  width: 270px;
  height: 55px;
}

.contactForm textarea{
  width: 540px;
  height: 75px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  display:block;
  resize: none;
  margin-top: 30px;
}

.contactForm input{
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.contactForm .btn{
  clear:both;
  float:left;
  margin-top: 40px;
  margin-bottom: 100px;
  line-height: 0px;
}